<?php
/**
 * ESD framework
 * @author tmtbe <896369042@qq.com>
 */

namespace App\Plugins\EasyRoute\Annotation;

use ESD\Plugins\EasyRoute\Annotation\Controller;

/**
 * @Annotation
 * @Target("CLASS")
 * Class AppTcpController
 * @package App\Plugins\EasyRoute\Annotation
 */
class AppTcpController extends Controller
{
    /**
     * @var array
     */
    public $portTypes = ["tcp"];

    /**
     * Port name, unlimited if empty array
     * @var array
     */
    public $portNames = ["jsonRpcTcp"];

    /**
     * @var string
     */
    public $defaultMethod = "TCP";
}